<h3>Latest News</h3>

<!-- reverse allows for newest to be shown first -->
{% assign posts = site.posts | sort: 'date' | reverse %}

{%- if posts.size > 0 -%}
    {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <div class="row">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts | sort: 'date' | reverse | limit:3 -%}

    <!-- Only show items that are not expired (aka archived)-->
    {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
    {% capture expires %}{{ post.expires | date: '%s'}}{% endcapture %}

    {% if expires > nowunix %}
    <div class="col-lg-4">
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h4>
            <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
        </h4>
        {{ post.content | strip_html | truncatewords: 40 }}
    </div>
    {% endif %}
    {%- endfor -%}
    </div>
{%- endif -%}

<br>
<a href="{{ site.baseurl }}/blog"> 
    <button class="btn btn-outline">View All Posts</button>
</a>
